/* FlexBox Layout Dising start*/
.container {
  background-color: blue;
  display: flex;
  /* flex-wrap:wrap;
flex-direction: row; */
  flex-flow: wrap row;
  justify-content: center;
  height: 600px;
  align-items: center;
}

.div1 {
  background-color: rgb(15, 105, 3);
  font-size: 40px;
  margin: 10px;

  padding: 10px;
}

/* FlexBox Layout Dising end*/
/* Grid Layout Dising start here */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid-container > div {
  background-color: #011803;
  color: black;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

.gridpart-container {
  display: grid;
  font-family: auto;
  border: 1px solid black;
  grid-template-columns: auto auto auto;
}

.gridpart-container > div {
  background-color: rgb(51, 54, 58);
  color: rgb(132, 205, 15);
  border: 1px solid black;
  text-align: center;
  padding: 15px;
  font-size: 30px;
  font-weight: 700;
}

.header,
.footer {
  grid-column: 1 / span 3;
}
.main {
}

/* Grid Layout Dising end here */

/* Style Components start here */

.com-container {
  display: flex;
  flex-direction: row;
  margin: 0px 1rem;
  padding: 0px 1rem;
}

.btn {
  padding: 0.25rem;
  width: 8rem;
  padding: 7px;
  text-align: center;
  border-radius: 5px;
}

.simp-container {
  padding-right: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 2px solid rgb(161, 151, 151);
  border-radius: 0.5rem;
  width: 100%;
  font-family: auto;
}

/* Style Components end here */
